# .clangd


---
If:
  PathMatch: .*/*
CompileFlags:
  CompilationDatabase: ./
  Remove: [
  -Wclang-diagnostic-declaration-after-statement,
      -Waltera-unroll-loops,
      -Wreadability-identifier-length,
      -Weadability-identifier-length,
      -Wcppcoreguidelines-init-variables,
      -Wbugprone-easily-swappable-parameters,
      -Wcppcoreguidelines-avoid-magic-numbers,
      -Wreadability-identifier-length,
      -Wcppcoreguidelines-avoid-non-const-global-variables,
      -Wmisc-no-recursion,
      -Wmisc-unused-parameters,
      -Wimplicit-function-declaration,
      -Wgoogle-readability-braces-around-statements,
      -Wunused-includes,
      -Wreadability-magic-numbers,
      -Wreadability-math-missing-parentheses,
      -Wunused-const-variable,
      -Wunused-function,
      -Wdeclaration-after-statement,
      -Wunused-function
  ]
Index:
  Background: Build